<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout name="l_info" class="ch.qos.logback.classic.PatternLayout">
            <withJansi>true</withJansi>
            <Pattern>
                %highlight(%-5level) - %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>